


<div id="grid">
<app-metric name='W&nbsp;' value=5.5 [data]="[0, 10, 5, 22, 3.6, 11]"></app-metric>
<app-metric name='LC'      value=2.3 [data]="[10, 20, 15, 22, 8.6, 31]"></app-metric>
<app-metric name='W&nbsp;' value=5.5 [data]="[0, 10, 5, 22, 3.6, 11]"></app-metric>
<app-metric name='LC'      value=2.3 [data]="[10, 20, 15, 22, 8.6, 31]"></app-metric>
<app-metric name='W&nbsp;' value=5.5 [data]="[0, 10, 5, 22, 3.6, 11]"></app-metric>
<app-metric name='LC'      value=2.3 [data]="[10, 20, 15, 22, 8.6, 31]"></app-metric>
<app-metric name='W&nbsp;' value=5.5 [data]="[0, 10, 5, 22, 3.6, 11]"></app-metric>
<app-metric name='LC'      value=2.3 [data]="[10, 20, 15, 22, 8.6, 31]"></app-metric>
<app-metric name='W&nbsp;' value=5.5 [data]="[0, 10, 5, 22, 3.6, 11]"></app-metric>
<app-metric name='LC'      value=2.3 [data]="[10, 20, 15, 22, 8.6, 31]"></app-metric>
<app-metric name='W&nbsp;' value=5.5 [data]="[0, 10, 5, 22, 3.6, 11]"></app-metric>
<app-metric name='LC'      value=2.3 [data]="[10, 20, 15, 22, 8.6, 31]"></app-metric>
</div>
<router-outlet></router-outlet>
