.td-big {
  /* Based on https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation */
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 24pt;
}
.lr-big {
  font-size: 24pt;
}

